@use "sass:math";

@import '@material-design-icons/font';
@import 'fonts';
@import '_variables';
@import 'bootstrap/scss/bootstrap';
@import 'mixins';

/* GENERAL */
h1 {
	font-size: 2rem;
    font-weight: 700;
	margin-bottom: 2rem;
}

h3{
	font-size: 25px;
    font-weight: 400;
}

a {
	text-decoration: none;
}

footer {
	background-color: $dark;
	color: white;
	padding: map-get($map: $spacers, $key: 3) 0;
	text-align: center;
	img {
		width: 40px;
	}
}

/* GENERAL CUSTOM */
.cpas-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

/* OVERRIDE BOOTSTRAP */
.navbar-brand{
	font-weight: 700;
	letter-spacing: 2px;
}

.card {
	background-color: white;
}

.form-control{
	background-color: white;
}

/* CUSTOM */
.cpas-align-icon{
	display: flex;
	align-items: center;
	.cpas-icon {
		margin-right: map-get($map: $spacers, $key: 1)
	}
}

.cpas-list{
	list-style-type: none;
	padding-left: 0;
	li {
		margin-bottom: map-get($map: $spacers, $key: 1)
	}
}

button.cpas-icon-link{
	@extend a;
	display: flex;
	padding: 0;
    border: 0;
    background: 0;
}

$cpas-icon-loard-width: 25px;

.cpas-icon-loader {
	display: block;
	border: 3px solid darken($light, 5%);
	border-top: 3px solid $primary;
	//border-bottom: 3px solid $primary;
	border-radius: 50%; 
	width: $cpas-icon-loard-width;
	height: $cpas-icon-loard-width;
	animation: spin 1s linear infinite;
	&.cpas-btn-loader {
		// Le parent doit être en position relative !
		position: absolute;
		left: 100%;
		top: 50%;
		margin-left: 15px;
		margin-top: math.div(-$cpas-icon-loard-width, 2);
	}
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}