<div class="mt-5"></div>
<h1>Rechercher un utilisateur</h1>

<div class="row">
	<div class="col-6">
		<div class="row">
			<div class="col-8">
				<div class="mb-5">
					<label class="form-label">Nom / Prénom :</label>
					<div class="position-relative">
						<input class="form-control" type="text" (keyup)="search()" [(ngModel)]="searchUsername">
						<span *ngIf="loadingSearch" class="cpas-icon-loader cpas-btn-loader"></span>
					</div>
					<div class="form-text">La recherche ne se lance qu'à partir de 3 caractères.</div>
				</div>
				<ul class="cpas-list">
					<li class="d-flex" *ngFor="let user of users">
						<button (click)="select(user)" class="cpas-icon-link cpas-align-icon">
							{{ user.getFullname() }} <span class="material-icons-outlined ms-1">edit</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div *ngIf="selectedUser" class="col">
		<div class="card">
			<div class="card-body">
				<h3>{{ selectedUser.getFullname() }}</h3>
				<div class="row">
					<div class="col-4">
						<div class="mb-3">
							<label class="form-label">Matricule :</label>
							<input class="form-control" type="text" (ngModelChange)="lock(false)" [(ngModel)]="newEmployeeId" (keyup.enter)="updateSelectedUser()">
						</div>
						<div class="d-inline-block position-relative">
							<button [disabled]="updateLock" (click)="updateSelectedUser()" class="btn btn-primary">Modifier</button>
							<span *ngIf="loadingEmployeeId" class="cpas-icon-loader cpas-btn-loader"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
